[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pydantic-spec = "*"
pydantic = "*"
flask-cors = "*"
pytest = "*"

[dev-packages]
ipdb = "*"
black = "*"

[requires]
python_version = "3.10"
